<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboots.dao.utore.UtoStorageMapper" >


    <select id="queryList" resultType="com.example.springboots.entity.utore.UtoStorageEntity">
        select *
        from
          UTO_STORAGE
    </select>
  

</mapper>