<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboots.dao.framework.IAuthUserPwdMapper">
	<resultMap id="BaseResultMap" type="com.example.springboots.entity.framework.vo.AuthUserVo" >
	    <id column="ID" property="id" jdbcType="VARCHAR" />
	    <result column="ORGAN_ID" property="organId" jdbcType="VARCHAR" />
	    <result column="ORGAN_CODE" property="organCode" jdbcType="VARCHAR" />
	    <result column="ORGAN_NAME" property="organName" jdbcType="VARCHAR" />
	    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
	    <result column="REALNAME" property="realname" jdbcType="VARCHAR" />
	    <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
	    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
	    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
	    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
	    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
	    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
	    <result column="ENABLED" property="enabled" jdbcType="DECIMAL" />
	    <result column="CREATE_DATE_TIME" property="createDateTime" jdbcType="DATE" />
	    <result column="CREATE_USERID" property="createUserid" jdbcType="VARCHAR" />
	    <result column="CREATE_USERNAME" property="createUsername" jdbcType="VARCHAR" />
	    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
	    <result column="ENCRYPTION" property="encryption" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="queryLoginUserInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT T.*,
		       D.PASSWORD,
		       D.ENCRYPTION
		  FROM AUTH_USER T 
		  LEFT JOIN AUTH_USER_PWD D ON T.ID = D.ID
		 WHERE 1=1
		 <if test=" loginName != null and loginName != '' ">  
		   AND UPPER(T.USERNAME) = #{loginName,jdbcType=VARCHAR}
		 </if>  
	</select>
</mapper>